## YAML Template.
---
server:
  port: 9000

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      mvc:
        routes:
          - id: anggota
            uri: lb://ANGGOTA
            predicates:
              - Path=/api/anggota/**

          - id: buku
            uri: lb://BUKU
            predicates:
              - Path=/api/buku/**

          - id: peminjaman
            uri: lb://PEMINJAMAN
            predicates:
              - Path=/api/peminjaman/**

          - id: pengembalian
            uri: lb://PENGEMBALIAN
            predicates:
              - Path=/api/pengembalian/**

# Actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,metrics,prometheus
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost

---
# Docker Profile
spring:
  config:
    activate:
      on-profile: docker

eureka:
  client:
    service-url:
      defaultZone: http://server-eureka:8761/eureka/
  instance:
    hostname: api-gateway
    prefer-ip-address: true